<!DOCTYPE html>
<html>
<head>
  <title>Ib</title>
  <%= stylesheet_link_tag    "ib/application", :media => "all" %>
  <%= javascript_include_tag "ib/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
